<launch>

    <!-- Video drivers -->

    <!--<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >-->
        <!--<param name="video_device" value="/dev/video0" />-->
        <!--<param name="image_width" value="640" />-->
        <!--<param name="image_height" value="480" />-->
        <!--<param name="pixel_format" value="yuyv" />-->
        <!--<param name="camera_frame_id" value="usb_cam" />-->
        <!--<param name="io_method" value="mmap"/>-->
        <!--<remap from="/usb_cam/image_raw/compressed" to="/image_raw/compressed"/>-->
    <!--</node>-->
    <!--<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">-->
        <!--<remap from="image" to="/usb_cam/image_raw"/>-->
        <!--<param name="autosize" value="true" />-->
    <!--</node>-->

	<!--<node name="cam_monitor" pkg="ros_bprime_drivers" type="video_monitor.py"/>-->

    <node name="cmd_interpreter" pkg="ros_bprime_drivers" type="cmd_interpreter.py"/>

    <!--Driver pwm-->
    <rosparam file="$(find ros_bprime_drivers)/config/pwmconfig.yaml" command="load"/>

    <group ns="gauche">
        <node name="pwm_interpreter" pkg="ros_bprime_drivers" type="adafruit_cmd_interpreter.py">
            <param name="sub_name" value="cmd_thr"/>
            <param name="device_name" value="motor_left"/>
        </node>
    </group>
    <group ns="droite">
        <node name="pwm_interpreter" pkg="ros_bprime_drivers" type="adafruit_cmd_interpreter.py">
            <param name="sub_name" value="cmd_thr"/>
            <param name="device_name" value="motor_right"/>
        </node>
    </group>
    <group ns="servo1">
        <node name="data_extractor" pkg="ros_bprime_drivers" type="data_extractor.py">
            <param name="in_data_format_mod" value="std_msgs.msg"/>
            <param name="in_data_format_cla" value="Float32"/>
            <param name="out_data_format_mod" value="std_msgs.msg"/>
            <param name="out_data_format_cla" value="Int16"/>
            <param name="in_topic" value="/cmd_position_servo1" />
            <param name="out_topic" value="position"/>
            <param name="operation" value="int"/>
            <param name="wanted_data" value=""/>
        </node>
        <node name="pwm_interpreter" pkg="ros_bprime_drivers" type="adafruit_cmd_interpreter.py">
            <param name="sub_name" value="position"/>
            <param name="device_name" value="servo_cam_azimuth"/>
        </node>
    </group>
    <group ns="servo2">
        <node name="data_extractor" pkg="ros_bprime_drivers" type="data_extractor.py">
            <param name="in_data_format_mod" value="std_msgs.msg"/>
            <param name="in_data_format_cla" value="Float32"/>
            <param name="out_data_format_mod" value="std_msgs.msg"/>
            <param name="out_data_format_cla" value="Int16"/>
            <param name="in_topic" value="/cmd_position_servo2" />
            <param name="out_topic" value="position"/>
            <param name="operation" value="int"/>
            <param name="wanted_data" value=""/>
        </node>
        <node name="pwm_interpreter" pkg="ros_bprime_drivers" type="adafruit_cmd_interpreter.py">
            <param name="sub_name" value="position"/>
            <param name="device_name" value="servo_cam_declinaison"/>
        </node>
    </group>

    <node name="pwm_driver" pkg="ros_bprime_drivers" type="adafruit_pwm_driver.py"/>


    <!--Teleoperation-->
	<group ns="teleop">
		<include file="$(find ros_teleop)/launch/teleop.launch"/>
    </group>

</launch>
