<launch>

    <!-- Video drivers -->

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <remap from="image_raw/compressed" to="/image_raw/compressed"/>
    </node>
    <!--<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">-->
        <!--<remap from="image" to="/usb_cam/image_raw"/>-->
        <!--<param name="autosize" value="true" />-->
    <!--</node>-->


	<!--<node name="motorBoard_driver" pkg="ros_bprime_drivers" type="adafruit_hat_driver.py" ></node>-->

	<!--<node name="cam_monitor" pkg="ros_bprime_drivers" type="video_monitor.py" ></node>-->

	<!--<node name="cmd_interpreter" pkg="ros_bprime_drivers" type="cmd_interpreter.py" output="screen" ></node>-->

	<group ns="teleop">
		<include file="$(find ros_teleop)/launch/teleop.launch"/>
    </group>

</launch>
